body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    filter: blur(20px);
}

.blur-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.spectrum-cover-container {
    position: relative;
    /* width: 50%; */
    display: flex;
    justify-content: center;
}

.spectrum-canvas {
    width: 100vh;
    height: 70vh;
}


.top-spectrum-canvas {
    width: 40vw;
    height: 10vw;
}

@keyframes rotate-A {
    0% {
        transform: rotate(0deg) translate(1px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(1px) rotate(-360deg);
    }
}


/* 变长变矮动画关键帧 */
@keyframes stretch-A {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.3);
    }
}

/* 向左向右倾斜动画关键帧 */
@keyframes skew-B {

    0%,
    100% {
        transform: skewX(0deg);
    }

    25% {
        transform: skewX(-20deg);
        /* 向左倾斜 */
    }

    75% {
        transform: skewX(20deg);
        /* 向右倾斜 */
    }
}

/* 向左向右倾斜动画关键帧 */
@keyframes skew-A {

    0% {
        transform: skewX(-20deg);
        /* 向左倾斜 */
    }

    100% {
        transform: skewX(20deg);
        /* 向右倾斜 */
    }
}

.char-animation-target {
    display: inline-block;
    /* 初始动画设置，可以被JavaScript覆盖 */
    animation: rotate-A 5s infinite linear;
}

.stretch-animation {
    animation: stretch-A 2s infinite alternate ease-in-out;
    /* 变长变矮动画 */
}

.skew-animation {
    animation: skew-A 5s infinite alternate ease-in-out;
    /* 向左向右倾斜动画 */
}

.bottom-spectrum-canvas {
    width: 40vw;
    height: 5vw;
}

.cover-container {
    position: absolute;
    width: 35vh;
    height: 35vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.play-pause-btn {
    background-image: url('../images/play_icon.svg');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    filter: brightness(100) saturate(100%);
}


.time-progress-container {
    flex-grow: 1;
    margin: 0 20px;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time-elapsed,
.total-duration {
    flex-basis: 50%;
    text-align: center;
}

.time-elapsed {
    text-align: left;
}

.total-duration {
    text-align: right;
}


.song-progress {
    width: 100%;
}

.volume-container {
    position: relative;
}

.volume-btn {
    background-image: url('../images/volume_icon.svg');
    background-size: cover;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    filter: brightness(100) saturate(100%);
    margin-right: 30px;

}

.volume-control {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: 32px;
    writing-mode: bt-lr;
    writing-mode: vertical-lr;
}

/* Canvas和封面的容器 */
.spectrum-cover-container {
    position: relative;
}

/* 封面图片样式 */
.cover-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}

/* 歌曲信息样式 */
.song-info {
    margin-top: 40px;
    text-align: center;
    align-items: center;
}


.song-title {
    display: block;
    color: #ffffff;
    font-size: 4.2em;
    font-weight: bold;
    text-align: center;
}

.artist-name {
    display: block;
    color: #ffffff;
    font-size: 4em;
    text-align: center;
}

/* 播放控制容器 */
.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}


.player-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    height: 80vh;
    z-index: 1;
    flex-basis: auto;
    width: 50%;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    height: 80vh;
    z-index: 2;
    text-align: center;
    align-items: center;
    flex-basis: auto;
    width: 50%;
}

.lyrics-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}