body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.blur-background {
    position: fixed;
    /* 固定位置 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    filter: blur(30px);
}

.spectrum-cover-container {
    position: relative;
    /* width: 50%; */
    display: flex;
    justify-content: center;
}

.spectrum-canvas {
    width: 100vh;
    height: 50vh;
}


.bottom-spectrum-canvas {
    width: 100%;
    height: 150px;
}

.cover-container {
    position: absolute;
    width: 25vh;
    height: 25vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-info {
    text-align: center;
    margin-top: 20px;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.play-pause-btn {
    background-image: url('../images/play_icon.svg');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    filter: brightness(100) saturate(100%);
}


.time-progress-container {
    flex-grow: 1;
    margin: 0 20px;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time-elapsed,
.total-duration {
    flex-basis: 50%;
    text-align: center;
}

.time-elapsed {
    text-align: left;
}

.total-duration {
    text-align: right;
}


.song-progress {
    width: 100%;
}

.volume-container {
    position: relative;
}

.volume-btn {
    background-image: url('../images/volume_icon.svg');
    background-size: cover;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    filter: brightness(100) saturate(100%);
}

.volume-control {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: 32px;
    writing-mode: bt-lr;
    writing-mode: vertical-lr;
}


/* 主容器使用 Flexbox 布局 */
.player-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* 音乐播放器左侧容器 */
.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    height: 80vh;
}

/* 音乐播放器右侧容器 */
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
    height: 80vh;
}

/* Canvas和封面的容器 */
.spectrum-cover-container {
    position: relative;
}

/* 封面图片样式 */
.cover-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}

/* 歌曲信息样式 */
.song-info {
    text-align: center;
}

/* 播放控制容器 */
.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 歌词容器样式 */
.lyrics-container {
    text-align: center;
}

@media (min-width: 768px) {
    .player-container {
        flex-direction: row;
        align-items: start;
    }

    .left-container,
    .right-container {
        flex-basis: auto;
        width: 50%;
    }

    .lyrics-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}